{% extends 'base.html.twig' %}

{% block body %}
    <div id="header">
       <a class="home-header" href="{{ url('homepage') }}">Home</a>
    </div>
    <div id="wrapper">
        <div id="container">

            {% for results in results %}

                <table class="table">
                    <tbody>
                         <td>
                             {# use a fallback image incase the image is not available #}
                             {% if not results['poster_path'] %}
                             <img class="poster" src="http://1.bp.blogspot.com/_NP2JqFozr4g/TU1i7aCqlOI/AAAAAAAAAJ4/7enC2WxDu44/s1600/Fallback.png">
                             {% else %}
                                 <img class="poster" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ results['poster_path'] }}">
                             {% endif %}
                             <h3><a id="movie_{{ results["id"] }}" class="title result" href="https://www.themoviedb.org/movie/{{ results["id"] }}" title="{{ results["title"] }}" alt="{{ results["title"] }}">{{ results["title"] }}</a></h3>
                             <span>Votes: </span> <span class="vote_average">{{ results["vote_average"] }}
                                 <span id="rating" class="glyphicons glyphicons-star x1 rating movie"></span>
                            </span>
                         </td>
                         <td>
                             <p class="overview">{{ results["overview"] }}</p>
                             <p class="view_more">
                                 <a id="movie_{{ results["id"] }}" class="result" href="https://www.themoviedb.org/movie/{{ results["id"] }}" title="{{ results["title"] }}" alt="{{ results["title"] }}">More Info</a>
                             </p>
                         </td>
                    </tbody>
                </table>

                {# pagination #}
            {% endfor %}
            <ul class="pagination">
            {% for i in 0..(count/3)|number_format -1 %}
                <li><a  {% if i == page %} id="selected" {% endif %}  href="/search/{{ i }}">{{ i }}</a></li>
            {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}

